@{
    Layout = "_Layout";
}
@section Title{
    @ViewBag.Title
}

<header class="container mb-3 menu-color">
    <div class="p-1 row border-bottom justify-content-between">
        <img class="col-3 maxWidthImg" src="~/images/moneyicon.png" />

        @{
            if (IsSectionDefined("NoHomeButton"))
                RenderSection("NoHomeButton", false);
            else
            {
                <a class="col-3" asp-controller="Home" asp-action="Member"><img class="maxWidthImg link-image" src="~/images/home.png" /></a>
            }
        }

    </div>
</header>

@RenderBody()

