@{
    Layout = "_Layout";
}
@section Title{
    @ViewBag.Title
}

<header class="container mb-3 menu-color">
    <div class="p-1 row border-bottom justify-content-between">
        <img class="col-3 maxWidthImg" src="~/images/moneyicon.png" />
        
        <img class="col-3 maxWidthImg" src="~/images/home.png" />
    </div>
</header>

@RenderBody()

