@{
    // TODO: Make an option for english or swedish on the site
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/twitter-bootstrap/css/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
    <link href="~/css/stylesheet.css" rel="stylesheet" />
</head>
<body>
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 px-2">
        <div class="col-md-3 mb-2 mb-md-0">
            <a class="d-inline-flex link-body-emphasis text-decoration-none navbar-brand" asp-controller="Home" asp-action="Home">
                @*THIS IMAGE IS FOR PERSONAL USE ONLY*@
                <img src="~/images/moneymateslogo3-removebg-preview.png" width="120" />
            </a>
        </div>
        @if (User.Identity.IsAuthenticated)
        {
            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">

                <li>
                    <a class="nav-link px-2" asp-controller="Budget" asp-action="Budgets">Budgets</a>
                </li>
                <li>
                    <a class="nav-link px-2" asp-controller="Investment" asp-action="Investments">Investments</a>
                </li>
                <li>
                    <a class="nav-link px-2" asp-controller="Compound" asp-action="Calculate">Compound Interest Calculator</a>
                </li>
                <li>
                    <a class="nav-link px-2" asp-controller="Todo" asp-action="TodoList">Todo List</a>
                </li>
            </ul>
            <div class="col-md-3 text-end">
                <form asp-controller="Login" asp-action="Logout">
                    <button type="submit" class="btn btn-outline-secondary">Logout</button>
                </form>
            </div>

        }
        else
        {
            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li>
                    <a class="nav-link px-2" asp-controller="Home" asp-action="Colors">Colors</a>
                </li>
                <li>
                    <a class="nav-link px-2" asp-controller="Login" asp-action="Register">Register</a>
                </li>
                <li>
                    <a class="nav-link px-2" asp-controller="Login" asp-action="Login">Login</a>
                </li>
            </ul>
            <div class="col-md-3 text-end">
            </div>


        }
    </header>
    <main class="px-3">
        @RenderBody()
    </main>
    <footer class="secondary-color-2 py-4 px-2 d-flex">
        <p class="flex-fill px-2 m-0">&copy; 2023 MoneyMates, Unleash your financial potential</p>
        <p class="m-0">A project by Sebastian Fredriksson.</p>
    </footer>
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/jquery/jquery-ui.js"></script>
    @RenderSection("EndOfBody", false)
    <script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
