@model CalculateVM

@{
    ViewData["Title"] = "Calculate";
    Layout = "_FunctionPage";
}


<div class="container mt-4 mb-4 bg-white rounded">
    <h1 class="through">Compound Interest Calculator</h1>

    <form asp-action="Calculate">
        <div>
            <label asp-for="Principal"></label>
            <i class="bi bi-question-circle" title="The initial amount of money you invest"></i>
            <input type="number" class="form-control" asp-for="Principal" value="0" oninput="ensureValue(this)"   />
        </div>
        <div>
            <label asp-for="MonthlyContribution"></label>
            <i class="bi bi-question-circle" title="The amount of money you will invest every month"></i>
            <input type="number" class="form-control" asp-for="MonthlyContribution" value="0" oninput="ensureValue(this)"  />
        </div>
        <div>
            <label asp-for="Rate"></label>
            <i class="bi bi-question-circle" title="The annual interest rate you expect to earn on your investment"></i>
            <input type="number" class="form-control" asp-for="Rate" value="0" oninput="ensureValue(this)"  />
        </div>
        <div>
            <label asp-for="Years"></label>
            <i class="bi bi-question-circle" title="The number of years you plan to invest"></i>
            <input type="number" class="form-control" asp-for="Years" value="0" oninput="ensureValue(this)"  />
        </div>

        <button type="submit" class="btn btn-primary mt-3">Calculate</button>
    </form>

    @if (Model.Results != null && Model.Results.Any())
    {
        <h2 class="text-center mt-4">Compound Interest Results:</h2>
        <div class="table-responsive">
            <table class="table table-striped mt-3">
                <thead>
                    <tr>
                        <th>Year</th>
                        <th>Total contribution</th>
                        <th>Interest</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var result in Model.Results)
                    {
                        <tr>
                            <td>@result.Year</td>
                            <td>@result.Contribution.ToString("C")</td>
                            <td>@result.Interest.ToString("C")</td>
                            <td>@result.Amount.ToString("C")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>

@section EndOfBody{
    <script>
        // Function to ensure that there is always a value in the amount input fields
        function ensureValue(input) {
            // Check if the input value is empty
            if (input.value === '') {
                // If it is empty, set its value to 0
                input.value = '0';
            }
            else {
                // If it is not empty, parse the input value to a number
                // and set it back as the input value to remove leading 0
                input.value = parseInt(input.value, 10);
            }
        }
    </script>

}

