@model CalculateVM

@{
    ViewData["Title"] = "Calculate";
    // TODO: Add info box popups
}


<div class="container mt-4 mb-4 bg-white rounded">
    <h1 class="text-center pt-4">Compound Interest Calculator</h1>

    <form asp-action="Calculate">
        <div>
            <label asp-for="Principal">Principal Amount:</label>
            <input type="number" class="form-control"asp-for="Principal" step="0.01" />
        </div>
        <div>
            <label asp-for="MonthlyContribution">Monthly Contributions:</label>
            <input type="number" class="form-control"asp-for="MonthlyContribution" step="0.01" />
        </div>
        <div>
            <label asp-for="Rate">Annual Interest Rate (%):</label>
            <input type="number" class="form-control" asp-for="Rate" step="0.01" />
        </div>
        <div>
            <label asp-for="Years">Number of Years:</label>
            <input type="number" class="form-control" asp-for="Years" step="1" />
        </div>
        
        <button type="submit" class="btn btn-primary mt-3">Calculate</button>
    </form>

    @if (Model.Results != null && Model.Results.Any())
    {
        <h2 class="text-center mt-4">Compound Interest Results:</h2>
        <div class="table-responsive">
            <table class="table table-striped mt-3">
                <thead>
                    <tr>
                        <th>Year</th>
                        <th>Total Contribution</th>
                        <th>Interest</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var result in Model.Results)
                    {
                        <tr>
                            <td>@result.Year</td>
                            <td>@result.Contribution.ToString("C")</td>
                            <td>@result.Interest.ToString("C")</td>
                            <td>@result.Amount.ToString("C")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>