@model TodoListVM

@{
    ViewData["Title"] = "List";
    Layout = "_FunctionPage";
}

<div class="container mt-4 bg-white rounded">
    <h1 class="through">TODO's</h1>

    <form asp-controller="Todo" asp-action="Create" method="post">
        <div class="form-floating">
            <input asp-for="NewTodoItem" class="form-control" />
            <label asp-for="NewTodoItem"></label>
            <span asp-validation-for="NewTodoItem" class="text-danger"></span>
            <span class="text-danger">@TempData["Message"]</span>
        </div>
        <button type="submit" class="btn btn-primary mt-2">Add</button>
    </form>

    <div class="container todo-list my-4 rounded">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Todo:</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.TodoItems)
                {
                    <tr>
                        <td>@item</td>
                        <td>
                            <form asp-controller="Todo" asp-action="Delete">
                                <input type="hidden" asp-for="@item" />
                                <button type="submit" class="btn btn-danger btn-sm ms-2">Remove</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>