@model RegisterVM

@{
    ViewData["Title"] = "Register";
}

<div class="flex-center container bg-white rounded pb-0">

    <div class="text-center">
        <h1 class="fw-normal my-3">Ready to sign up?</h1>
        <h2 class="fw-normal">We're so glad you're here. By signing up, you're taking the first step toward achieving your financial goals and improving your financial well-being.</h2>
    </div>

    <div class="text-center form-signin w-100 mx-auto mt-5 bg-white rounded">
        <form asp-action="Register">
            <h1 class="h3 mb-3 ">Register</h1>
            <div class="form-floating my-1">
                <input asp-for="Username" class="form-control" />
                <label asp-for="Username"></label>
            </div>
            <div class="form-floating my-1">
                <input asp-for="Email" class="form-control" />
                <label asp-for="Email"></label>
            </div>
            <div class="form-floating my-1">
                <input asp-for="Password" class="form-control" type="password" />
                <label asp-for="Password"></label>
            </div>
            <div class="form-floating my-1">
                <input asp-for="ConfirmPassword" class="form-control" type="password" />
                <label asp-for="ConfirmPassword"></label>
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</div>

