@model BudgetVM;
@{
    ViewData["Title"] = "Budgets";
}
<h1>@User.Identity.Name's budgets</h1>
@foreach (var item in Model.budgets)
{
    <p>@item.Name @item.Id</p>
}
<a asp-controller="Home" asp-action="CreateBudget">Create new budget</a>

