
@{
    ViewData["Title"] = "Colors";
}

<table class="table bg-white">
    <thead>
        <tr>
            <th>Primary</th>
            <th>Secondary</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td><div class="w-100 text-center" style="background-color:#474548; color: white;"><p>#474548</p></div></td>
            <td><div class="w-100 text-center" style="background-color:#1f1d20; color: white;"><p>#1f1d20</p></div></td>
        </tr>
        
        <tr>
            <td><div class="w-100 text-center" style="background-color:#2f3924; color: white;"><p>#2f3924</p></div></td>
            <td><div class="w-100 text-center" style="background-color:#191d13; color: white;"><p>#191d13</p></div></td>
        </tr>
        
        <tr>
            <td><div class="w-100 text-center" style="background-color:#755f56; color: white;"><p>#755f56</p></div></td>
            <td><div class="w-100 text-center" style="background-color:#594035; color: white;"><p>#594035</p></div></td>
        </tr>
        
        <tr>
            <td><div class="w-100 text-center" style="background-color:#c6af99; color: white;"><p>#c6af99</p></div></td>
            <td><div class="w-100 text-center" style="background-color:#af9a8b; color: white;"><p>#af9a8b</p></div></td>
        </tr>
        
        <tr>
            <td><div class="w-100 text-center" style="background-color:#e8e9ef; color: white;"><p>#e8e9ef</p></div></td>
            <td><div class="w-100 text-center" style="background-color:#cccdcf; color: white;"><p>#cccdcf</p></div></td>
        </tr>

    </tbody>
</table>




