@model CreateBudgetVM;
@{
    ViewData["Title"] = "CreateBudget";
}
<div class="container">
    <form asp-controller="Home" asp-action="CreateBudget">
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <input type="submit" value="Next" />
    </form>
    <div asp-validation-summary="All"></div>
</div>

@section breadcrumb{
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="discrete-link" asp-controller="Home" asp-action="Budget">Budgets</a></li>
            <li class="breadcrumb-item active" aria-current="page">Create Budget</li>
        </ol>
    </nav>
}
