@model EditBudgetVM;
@{
    ViewData["Title"] = "EditBudget";
}

<div class="container">
    <h1>Edit @Model.BudgetName</h1>
    <form class="container lesser-container shadow-box py-1 menu-color mt-3" asp-controller="Home" asp-action="AddExpense">
        <h2>New Expense</h2>
        <div class="row my-3">
            <label class="col-3" asp-for="NewAmount"></label>
            <input type="number" class="col-8" asp-for="NewAmount" />
        </div>

        <div class="row my-3">
            <label class="col-3" asp-for="NewName"></label>
            <input class="col-8" asp-for="NewName" />
        </div>

        <div class="row mb-2">
            <div class="col-8" asp-validation-summary="All"></div>
            <input class="col-3" type="submit" value="Add" />
        </div>
    </form>
    @foreach (var item in Model.Expenses)
    {
        <p>
            @item.Name |@item.Amount
            | <a asp-controller="Home" asp-action="DeleteExpense" asp-route-id="@item.Id">Delete</a>
        </p>
    }
</div>
