
@{
    ViewData["Title"] = "Member";
}

<h1>Welcome @User.Identity.Name</h1>
<ul>
    <li><a asp-controller="Budget" asp-action="Budgets">Budgets</a></li>
    <li><a asp-controller="Investment" asp-action="Investments">Investments</a></li>
    <li><a asp-controller="CompoundCalculator" asp-action="Calculator">Compound Interest Calculator</a></li>
</ul>




