@{
    ViewData["Title"] = "Member";
}

<div class="container mt-5">
    <h1>Welcome @User.Identity.Name</h1>
    <div class="row mt-5">
        <div class="col-md-4 d-flex">
            <div class="card p-2 text-center w-100">
                <img src="~/images/budget.png" />
                <div class="card-body">
                    <h5 class="card-title">Budgets</h5>
                    <p>
                        Welcome to our Budget Tracker! With our easy-to-use view, you can create and store budgets to efficiently manage your finances.
                        Stay organized and make informed financial decisions with our user-friendly Budget Tracker. Take control of your finances today!
                    </p>
                </div>
                <div class="card-footer">
                    <a asp-controller="Budget" asp-action="Budgets" class="btn btn-primary w-100">Go to Budgets</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 d-flex">
            <div class="card p-2 text-center w-100">
                <img src="~/images/investment.png" />
                <div class="card-body">
                    <h5 class="card-title">Investments</h5>
                    <p>Yet to be implemented</p>
                </div>
                <div class="card-footer">
                    <a asp-controller="Investment" asp-action="Investments" class="btn btn-primary w-100">Go to Investments</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 d-flex">
            <div class="card p-2 text-center w-100">
                <img src="~/images/compound.png" />
                <div class="card-body">
                    <h5 class="card-title">Compound Interest Calculator</h5>
                    <p>
                        Welcome to our Compound Interest Calculator! Our powerful tool allows you to effortlessly calculate the growth of your investments over time.
                        With easy-to-use inputs, you can quickly determine how much your savings or investments could grow with the power of compound interest!
                    </p>
                </div>
                <div class="card-footer">
                    <a asp-controller="Compound" asp-action="Calculate" class="btn btn-primary w-100">Go to Compound Interest Calculator</a>
                </div>
            </div>
        </div>
    </div>
    <div class="message">
        <p>
            <br />
            Dear Potential Employers,<br /><br />

            I am excited to share with you my latest project,
            a website that I have been diligently working on since April 15th, 2023.
            While the website is still a work in progress,
            I am proud of the progress I have made and wanted to give you a sneak peek of what's to come.
            The website is a true labor of love, as I have poured my creativity and skills into every aspect of its development.
            From the sleek design  to the interactive features,
            I have strived to create a user-friendly and visually appealing experience for visitors.

            <br /><br />
            As I continue to fine-tune and add new content,
            I am confident that this website will be a showcase of my abilities and dedication to my craft.
            I am excited to share the final product with you in the near future and demonstrate how my skills and
            passion can add value to your team.
            Thank you for considering my work-in-progress website as a representation of my abilities and potential as a
            valuable asset to your organization.

            <br /><br />
            Sincerely,
            <br />
            Sebastian Fredriksson
        </p>
    </div>
</div>