@model BudgetsVM

@{
    ViewData["Title"] = "Budgets";
}

<h1>Budgets</h1>

<a asp-action="CreateBudget" class="btn btn-primary mb-3">Create new budget</a>
<table class="table table-striped">
    <thead>
        <tr>
            @{
                // TODO: remove the style attribute and replace it with proper, responsive css
            }
            <th style="width: 50%">Name</th>
            <th style="width:16.67%"></th>
            <th style="width:16.67%"></th>
            <th style="width:16.67%"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var budget in Model.Budgets)
        {
            <tr>
                <td class="align-middle">@budget.Name</td>
                <td><a asp-action="BudgetDetails" asp-route-id="@budget.Id" class="btn btn-info">Details</a></td>
                <td>
                    <a asp-action="EditBudget" asp-route-id="@budget.Id" class="btn btn-warning">Edit</a>
                </td>
                <td>
                    <form asp-action="RemoveBudget" asp-route-id="@budget.Id">
                        <button type="submit" class="btn btn-danger">Remove</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
