@model BudgetDetailsVM

@{
    ViewData["Title"] = "BudgetDetails";
    Layout = "_FunctionPage";
}

<style>
    body {
        background-color: #f8f9fa; /* Set custom background color */
    }
</style>

<div class="container mt-4 bg-white rounded">

    <h1>Budget Details</h1>

    <div class="row mt-4">
        <div class="col-md-6 d-md-flex">
            <p class="m-0 align-self-center"><strong>Budget Name:</strong> @Model.Name</p>
        </div>
        <div class="col-md-6 d-md-flex justify-content-end">
            <a asp-action="Budgets" class="btn btn-secondary">Back to budgets</a>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12">
            <h2>Expenses</h2>
            @if (Model.Expenses != null && Model.Expenses.Length > 0)
            {
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Expense Name</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var expense in Model.Expenses)
                        {
                            <tr>
                                <td>@expense.Name</td>
                                <td>@expense.Amount.ToString("C")</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>No expenses found.</p>
            }
        </div>
    </div>
    <a asp-action="EditBudget" asp-route-id="@Model.Id" class="btn btn-warning mx-2">Edit Budget</a>

</div>
