@model CreateBudgetVM

@{
    ViewData["Title"] = "CreateBudget";
}

<h1>Create New Budget</h1>

<form asp-action="Create">
    <div>
        <label asp-for="Name">Budget Name:</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div>
        <label>Expenses:</label>

        <table class="table" id="expenseTable">
            <thead>
                <tr>
                    <th>Expense Name</th>
                    <th>Amount</th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

        <button type="button" class="btn btn-success" onclick="addExpense()">Add Expense</button>
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>

@section EndOfBody {
    <partial name="_ExpenseTable"></partial>
}