/* COLORS */

/*prime-bg-color-1 : #474548                           
secondary-bg-color-1 : #1f1d20 */

/*prime-bg-color-2 : #2f3924                           
secondary-bg-color-2 : #191d13 */

/*prime-bg-color-3 : #755f56                           
secondary-bg-color-3 : #594035 */

/*prime-bg-color-4 : #c6af99                           
secondary-bg-color-4 : #af9a8b */

/*prime-bg-color-5 : #e8e9ef                           
secondary-bg-color-5 : #cccdcf */

/* Layout */
body, html {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

body {
    background-color: #e8e9ef;
}

header {
    grid-area: header;
    background-color: #2f3924;
}


main {
    grid-area: main;
    overflow-y: auto;
}

footer {
    grid-area: footer;
    background-color: #474548;
    color: #e8e9ef;
}

.navbar-brand {
    color: #af9a8b;
}

.nav-link {
    color: #e8e9ef;
}

.btn-outline-secondary {
    --bs-btn-color: #755f56;
    --bs-btn-border-color: #755f56;
    --bs-btn-hover-color: #e8e9ef;
    --bs-btn-hover-bg: #755f56;
    --bs-btn-hover-border-color: #755f56;
}

.btn-primary {
    --bs-btn-bg: #594035;
    --bs-btn-color: #e8e9ef;
    --bs-btn-border-color: #594035;
    --bs-btn-hover-color: #e8e9ef;
    --bs-btn-hover-bg: #755f56;
    --bs-btn-hover-border-color: #755f56;
    --bs-btn-active-bg: #594035;
    --bs-btn-active-border-color: #594035;
}

.btn-info {
    --bs-btn-color: #000;
    --bs-btn-bg: #c6af99;
    --bs-btn-border-color: #c6af99;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #af9a8b;
    --bs-btn-hover-border-color: #af9a8b;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #c6af99;
    --bs-btn-active-border-color: #c6af99;
}

.btn-warning {
    --bs-btn-color: #000;
    --bs-btn-bg: #cccdcf;
    --bs-btn-border-color: #191d13;
    --bs-btn-hover-color: #cccdcf;
    --bs-btn-hover-bg: #191d13;
    --bs-btn-hover-border-color: #cccdcf;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #cccdcf;
    --bs-btn-active-border-color: #191d13;
}

.card-body {
    display: flex;
    flex-direction: column;
}

    .card-body p {
        margin: 0;
    }

/* Sign In and Register */
.form-signin {
    max-width: 330px;
    padding: 15px;
    box-shadow: 0px 0px 15px black;
}

.flex-center {
    height: 100%;
    display: flex;
    align-items: center;
}
