html{
    margin: 0;
}

body {
    background-color: hsl(44, 50%, 95%)
}

.menu-color {
    background-image: linear-gradient(hsl(44, 70%, 85%), hsl(44, 50%, 65%))
}

.one-page{
    height: 100vh;
}

.discrete-link {
    text-decoration: none;
    color: #575757;
}

    .discrete-link:hover {
        text-decoration: underline;
        color: #575757;
    }

    .discrete-link:active {
        color: black;
    }

.shadow-box {
    box-shadow: 0 0 5px black;
}

.function-box {
    border-radius: 1rem;
    background-color: hsl(54, 50%, 85%);
    box-shadow: 0 0 5px black;
}

a.function-box {
    text-decoration: none;
}

h5 {
    margin-bottom: 0;
    font-weight: 700;
    color: black;
}

@media(min-width: 576px) {
    .maxWidthImg {
        width: 150px;
    }
}

@media(max-width: 576px) {
    img {
        width: 40%;
    }
    .maxWidthImg{
        height: 53px;
    }
    .link-image{
        width: 100%;
    }
}
